<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>

</head>


<body>

</body>

</html>
       <div class="table-responsive-xl">
            <!-- LIST -->
            

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="table-success">
                            <th scope="col">Texto Extraido</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                        
                        </tr>
                    </thead>
                    <tbody>
                        
                       
                            <tr>

                                <td colspan="4">
                                    {{docu.text}}
                                </td>


                                <td colspan="1">
                <div class="card animated fadeInDown">
                    <img src="{{docu.path}}" class="card-img-top" alt="{{docu.filename}}">
                    <div class="card-body">
                        <h5 class="card-title">{{docu.title}}</h5>
                        <p class="card-text">{{docu.description}}
                        <p>{{created_at}}</p>
                        <a href="C:\Users\PERSONAL\MLpro\ProyectoIntegrador7mo\src\extracciones\22-7-2020-12-51.txt" download="Acme Documentation (ver. 2.0.1).txt" class="btn btn-primary">
                           View 
                        </a>
                        <form action="/imagedelete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger ">Delete</button>
                        </form>
                    </div>
                </div>
                                     
                                </td>
                            
                              
                                

                            </tr>

  
                    </tbody>
                   
                </table>


            </div>



</body>


