<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>

</head>


<body>

    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                
                {{#each images}}

                <div class="card animated fadeInDown">
                    <img src="{{path}}" class="card-img-top" alt="{{filename}}">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <h5 class="card-title">{{predic}}</h5>
                        <p class="card-text">{{description}}
                        <p>{{created_at}}</p>
                        <a href="/image/{{_id}}" class="btn btn-primary">
                           View 
                        </a>
                        <form action="/imagedelete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
                        </form> 
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</body>

</html>

